[Unit]
Description=Gravemind Server Daemon
After=network.target storage.mount

[Service]
User=gravemind
Type=simple
ExecStart=/usr/local/bin/gravemind
Restart=always

[Install]
WantedBy=multi-user.target
